/*These following lines are general css rules for the whole website*/

html, body {
    height: 100%;
}

table, td, th {
    border: 1px solid black;
}
  
table {
    width: 100%;
    border-collapse: collapse;
}

/* tr:nth-child(even) {
    background-color: #dad1b8;
} Looks Weird... */

body {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: 0 auto;
    font-family: Arial;
    background-color: white;
    color: black;
}

.content {
    flex: 1 0 auto;
}

pre{
    font-size: 1.5em;
    white-space: pre-wrap; 
}

h1{
    text-align: center;
    font-size: large;
} 

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.logo {
    height: 120px;
    display: block;
    margin: 60px auto 10px;
    padding: 5px 5px 0 5px;
    border: 1px solid black;
}

h2 {
    padding: 5px;
    border-top: black solid 3px;
    border-bottom: black solid 3px;
    margin: 15px auto 25px;
    text-align: center;
    font-size: 2.4em;
    font-weight: bold;
}

h3 {
    padding: 5px;
    border-bottom: black solid 1px;
    width: 100%;
    margin: 10px auto;
    text-align: center;
    font-size: 1.2em;
    font-weight: normal;
}

p,
a {
    font-size: large;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    clear: both;
    border-top: 1px solid black;
    margin: 0;
    padding: 3px 10px;
    font-size: 12px;
}

p.footer {
    margin: 5px 0;
}

/*The following lines are for the navigation*/

nav a {
    position: relative;
    display: table-cell;
    text-align: left;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
}

a.nav {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

a.nav:hover {
    color: #A6935B;
}

.navActive {
    color: #A6935B;
}

.navUnActive {
    color: black;
}

/*These following lines are mainly for the landing page of the website*/

.banner > img {
    width: 100%;
    max-width: 700px;
    border: 1px solid black;
    margin: 0 auto 35px;
    display: block;
}

.intro1 {
    margin: 10px 0;
}

.introP1 {
    text-align: right;
}

.intro1 > p {
    margin: 15px 10px;
}

a.quartoBoardGame {
    margin: 20px 0;
    clear: both;
    display: flex;
    justify-content: center;
    text-align: center;
    color: black;
    background-color: #A6935B;
    text-decoration: none;
    padding: 7px;
    border: #A6935B solid 1px;
}

a.quartoBoardGame:hover {
    margin: 20px 0;
    clear: both;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #A6935B;
    background-color: #ffffff;
    text-decoration: none;
    padding: 7px;
    border: #A6935B solid 1px;
}

a.downloadIndexPage{
    margin: 20px 0;
    clear: both;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #A6935B;
    background-color: #000000;
    text-decoration: none;
    padding: 7px;
    border: #000000 solid 1px;
}

a.downloadIndexPage:hover{
    margin: 20px 0;
    clear: both;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #000000;
    background-color: #A6935B;
    text-decoration: none;
    padding: 7px;
    border: #000000 solid 1px;
}

#Inventor {
    margin: 0 10px 20px 0;
    padding: 0 20px;
    float: left;
    height: 150px;
    width: auto;
    /*
    We have not seen the following line of code, but it makes the animations if you hover over the image
     */
    transition: transform 0.2s ease-in-out;
}

#QuartoInPlay {
    margin: 10px 30px 30px 20px;
    float: right;
    height: 200px;
    width: auto;
    transition: transform 0.2s ease-in-out;
}

.intro2 > p {
    margin: 10px;
    text-align: center;
}

.gamePlay {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px auto;
}

.gamePlay > h3 {
    margin-bottom: 20px;
}

.gamePlay > iframe {
    border: 1px solid black;
}

/*These following lines are for the screenshots page
I Used flex, because it was the easiest way to make sure all these pictures
align correctly. There are other ways to do this, but because this is something we learned in the last
lesson, I thought it would be best to also implement it in my website.
 */

.screenshots {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 7px;
}

.screenshots > img {
    margin: 15px;
    width: 100%;
    max-width: 450px;
    display: inline-block;
}

/*
These following lines are used in the dowload page
 */

a.quartoGame {
    margin: 20px 0;
    clear: both;
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    background-color: #A6935B;
    text-decoration: none;
    padding: 7px;
    border: #A6935B solid 1px;
}

a.quartoGame:hover {
    color: black;
}

a.link {
    color: #A6935B;
}

a.link:hover{
    color: black;
}

/*These following lines are mainly for the about page.
 */
.team{
    display: flex;
    justify-content: center;
}   

.teamcolumn {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
    min-width: 240px;
}

@media screen and (max-width: 640px) {
    .team {
        display: flex;
        flex-wrap: wrap;
    }
}

.logosRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media screen and (max-width: 640px) {
    .logosRow {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.logosRow > img{
    width: 200px;
}

.container {
    padding: 0 20px;   
}

.teammember {
    box-shadow: 0 4px 8px 0 #000000;
}

.container::after, .row::after {
    content: "";  
    clear: both;
    display: table;
} 

.title {
    color: #A6935B;
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #A6935B;
    text-align: center;
    width: 100%;
}
  
.button:hover {
    background-color: #6d613b;
}

.leftAlign{
    margin: 0 10px 20px 0;
    padding: 0 20px;
    float: left;
    height: 150px;
    width: auto;
}

.rightAlign{
    margin: 0 10px 20px 0;
    padding: 0 20px;
    float: right;
    height: 150px;
    width: auto;
}

.headshot {
    width: 100%;
}

/* These following lines of code are for the Project presentation page */

h4{
    font-weight: bold;
    text-decoration: none;
    font-size: 1.7rem;
    margin: 20px;
}

.whoDidWhatPARENT{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media screen and (max-width: 640px) {
    .whoDidWhatPARENT{
        display: flex;
        flex-direction: column;
    }
}

.developmentPoints{
    margin: 30px;
}

.milestones{
    text-decoration: none;
}

a.tileLink{
    text-decoration: none;
    color: #000000;
}

.tiles{
    display: flex;
    justify-content: center;
}   

.tilescolumn {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
    min-width: 270px;
}

@media screen and (max-width: 640px) {
    .tiles {
        display: flex;
        flex-wrap: wrap;
    }
}

.container {
    padding: 20px;  
    margin: 15px; 
}

.tile {
    box-shadow: 0 4px 8px 0 #000000;
}

.container::after, .row::after {
    content: "";  
    clear: both;
    display: table;
}

.tileImage {
    width: 100%;
}

h5{
    margin: 40px 0px 20px 0px;
    font-size: 2.5em;
    color: #A6935B;
    border-bottom: 5px double #000000;
}

/* These following lines of css are for the specific sprint pages */

.breadcrumb{
    display: flex;
    justify-content: flex-start;
    padding: 10px 16px;
    list-style: none;
}
    
.item{
display: inline;
font-size: 18px;
}

.breadcrumb li+li:before{
padding: 8px;
color: #6d613b;
content: ">>";
}

.item a{
color: #000000;
text-decoration: none;
}

.itemActive a{
    color: #A6935B;
    text-decoration: none;
}

.item a:hover{
color: #A6935B;
}

.alignCenter{
    display: block;
    margin: 0px auto;
    width: 100%;
}

#DriveLogo{
    width: 60px;
    margin-bottom: 20px;
}

.video {
    display: flex;
    justify-content: center;
}

/* These following lines are for the Database result page */

.form{
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.form label{
    margin: 5px 0px 5px 0;
}

.form input {
    vertical-align: middle;
    margin: 5px 0px 5px 0;
    padding: 10px;
    border: 1px solid #ddd;
}
  
.button {
    margin: 15px;
    padding: 10px 10px;
    font-weight: bold;
    background-color: #A6935B;
    border: 1px solid #000000;
    color: #000000;
    cursor: pointer;
}

.button:hover {
    background-color: #6d613b;
}

.dbTable{
    margin: 30px 0 30px;
}

thead {
    background-color: #A6935B;
    color: white;
}

.selected{
    background-color: #dad1b8;
}

/* Thank you for downloading page css rules */

.thankYou > img {
    width: 100%;
    max-width: 700px;
    margin: 0 auto 35px;
    display: block;
}